@font-face {
  font-family: 'iconfont';
  /* project id 32732 */
  src: url('//at.alicdn.com/t/font_xe40ayjg0dmibe29.eot');
  src: url('//at.alicdn.com/t/font_xe40ayjg0dmibe29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_xe40ayjg0dmibe29.woff') format('woff'),
  url('//at.alicdn.com/t/font_xe40ayjg0dmibe29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_xe40ayjg0dmibe29.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
